@font-face {
    font-family: 'Playfair Display';
    src: url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
    font-family: 'Cinzel'; src: url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap'); 
    font-family: 'Chelsea Maket'; src: url('https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Cinzel:wght@400..900&display=swap');
  }
  
  
  html, body, footer{ /* Apaga todas as margens */ 
    margin: 0;
    background-color: antiquewhite;
  }
  
  
.menu{ /* Config. da barra de navegação */ 
    background-color: #4F1D0E;
    text-align: center;
    padding: 1px;
    font-size: 20px;
  
  }
  .menu-item {
    color: white; 
    text-decoration: none;
    margin-right: 30px; 
  }
  
  .menu-item:hover {
    color: #f2d2cf; 
  }
  .menu-item-atual {
    color: #F2ADA7; 
    text-decoration: none;
    margin-right: 30px; 
  }
  

/* Botões de Categoria */
.selecao_loja {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; 
  gap: 20px;
  text-align: center;
}
.categoria{
  position: relative;
}

.categoria-btn{
  flex-direction: column;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid #4F1D0E;
  background-color: transparent;
  align-items: center;
  padding: 0;
  overflow: hidden;  
  
}
.categoria-btn img {
  max-width: 100%; 
  height: auto;
  
}
.categoria-btn p {
  margin-top: -5px; 
  text-align: center; /* Centraliza o texto */
  color: #0C5700;
}

.linha-divisao {
  height: 2px; /* Altura da linha */
  background-color: #4F1D0E; /* Cor da linha */
  margin: 20px 0; /* Espaçamento acima e abaixo da linha */
  width: 100%; /* Largura da linha */
}

.produtos-filtrados {
  display: flex; 
  flex-wrap: wrap;
  justify-content: center; 
  width: 80%; 
  margin: 0 auto; 
}
.mensagem-instrucao {
  text-align: center;
  font-size: 25px;
  margin: 20px 0;
  color: #4F1D0E; 
}
/*CARDAPIO*/
  .cardapio {
  width: 100%;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: "Cinzel";
  }
  .cardapio-itens {
    background-color: #81231a;
    border-radius: 5px; /*Arredonda as bordas*/
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /*sombra*/
    margin: 10px;
    padding: 10px;
    text-align: center;
    width: 300px;
  }
    
  .cardapio-itens img {
    max-width: 100%;
    border-radius: 7px
  }
  
  
  /* CONFIG. BOTÕES */
  button{
    background-color:#4F1D0E; /* Cor de fundo */
    border: none; /* Remover borda */
    color: white; /* Cor do texto */
    padding: 20px; /* Espaçamento interno */
    text-align: center; /* Alinhamento do texto */
    text-decoration: none; /* Remover sublinhado */
    display: inline-block; /* Exibir como bloco */
    font-size: 12px; /* Tamanho da fonte */
    margin: 10px; /* Margem externa */
    cursor: pointer; /* Cursor */
    border-radius: 30px; /* Borda arredondada */
  }   
  
  button:hover { /* Mudar cor ao passar o mouse */
  background-color:#0C5700;
  color: white;    
}

footer {
  background-color: #4F1D0E;
  padding: 1PX;
  text-align: center;
}