@font-face {
  font-family: "Playfair Display";
  src: url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
  font-family: "Cinzel";
  src: url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap");
  font-family: "Chelsea Maket";
  src: url("https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Cinzel:wght@400..900&display=swap");
}

html,
body,
footer {
  /* Apaga todas as margens */
  margin: 0;
}
.menu {
  /* Config. da barra de navegação */
  background-color: #4f1d0e;
  text-align: center;
  padding: 1px 2px;
  font-size: 20px;
}
.menu-item {
  color: white;
  text-decoration: none; /* Remove a linha do hiperlink */
  margin-right: 30px; /* Espaço entre os itens */
}

.menu-item:hover {
  color: #f2ada7; /* Mudar cor do texto ao passar o mouse */
}

/* CONFIG. DA PRINCIPAL */
.principal {
  padding: 100px; /*Defini o tamanho do bloco */
  background-image: url(imagens/index/PRINCIPAL1.png); /*imagem de fundo */
  background-size: cover; /* Ajusta o tamanho da imagem para cobrir toda a área */
  background-position: center; /* Centraliza a imagem */
  background-repeat: no-repeat; /* Evita repetição da imagem */
  opacity: 0.8;
}

.principal-titulo {
  /* LOGO */
  font-family: "Playfair Display", "Times New Roman", Times, serif;
  font-size: 5rem;
  color: #fdf3e7;
  text-align: center;
  word-wrap: break-word;
}

.principal-legenda {
  font-family: "Playfair Display", "Times New Roman", Times, serif;
  font-size: 2rem;
  color: white;
}

/* CONFIG. DA CTA */

.cta {
  background-color: #591e11;
  padding: 15px; /*Tamanho do bloco */
  text-align: center;
  font-size: 20px;
  font-family: "Cinzel", serif;
  font-style: normal; /* Espessura da fonte */
  font-weight: 100;
  color: #ffe2d0;
  margin-top: 5px; /* Margem superior */
  margin-bottom: 5px; /* Margem inferior */
}


/* ESTILIZAÇÃO DA LOJA */
  
.titulo{
  padding: 15px; /*Tamanho do bloco */
  font-family: "Playfair Display";
  text-align: center;
  font-size: 40px;
  font-style: normal;/* Espessura da fonte */ 
  font-weight: 100;
  color: #4F1D0E;
  margin-top: 1px; /* Margem superior */
  margin-bottom: 5px; /* Margem inferior */
}


/*BOTOES DE DIRECIONAMENTO */
.direcionamento {
  padding: 10px; /*Defini o tamanho do bloco */
  background-color: #ffe2d0;
  font-size: 30px;
  text-align: center;
  margin-top: 5px; /* Margem superior */
  margin-bottom: 5px; /* Margem inferior */
}

.loja1 {
  background-color: #f2ada7; /* Cor de fundo */
  border: none; /* Remover borda */
  color: white; /* Cor do texto */
  padding: 30px 70px; /* Espaçamento interno */
  text-align: center; /* Alinhamento do texto */
  text-decoration: none; /* Remover sublinhado */
  display: inline-block; /* Exibir como bloco */
  font-size: 30px; /* Tamanho da fonte */
  margin: 20px; /* Margem externa */
  cursor: pointer; /* Cursor */
  border-radius: 30px; /* Borda arredondada */
  font-family: "Chelsea Maket";
}

.loja1:hover {
  /* Mudar cor ao passar o mouse */
  background-color: #0c5700;
  color: white;
}
.contato1 {
  background-color: #591e11; /* Cor de fundo */
  border: none; /* Remover borda */
  color: white; /* Cor do texto */
  padding: 30px 50px; /* Espaçamento interno */
  text-align: center; /* Alinhamento do texto */
  text-decoration: none; /* Remover sublinhado */
  display: inline-block; /* Exibir como bloco */
  font-size: 30px; /* Tamanho da fonte */
  margin: 20px; /* Margem externa */
  cursor: pointer; /* Cursor */
  border-radius: 30px; /* Borda arredondada */
  font-family: "Chelsea Maket";
}

.contato1:hover {
  /* Mudar cor ao passar o mouse */
  background-color: #0c5700;
  color: white;
}

/* Estilo para o rodapé */
footer {
  background-color: #4f1d0e;
  color: white;
  font-size: 10px;
  padding: 1px; /* Espaçamento interno */
  text-align: center; /* Alinhamento do texto */
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
}
.logo {
  align-self: flex-end;
}
